@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Playfair Display", serif;
}

body{
    background-color:  rgb(119, 162, 246);
}
.container{
    background-color: white;
    width: fit-content;
    max-width: 500px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px auto;
}
h1,h2{
    text-align: center;
}
h1{
    font-weight: bold;
}
.divider{
    margin: 10px 0 ;
    background-color: #03a9f4;
    height: 2px;
    width: 20%;
}
h2{
    font-weight: 400;
}
h2::after,h2::before{
    content: '"';
}
h4{
    margin: 10px 0;
    position: relative;
    align-self: flex-end;
}
h4::before{
    content: "";
    height: 2px;
    width: 20%;
    background-color: #03a9f4;
    position: absolute;
    top: 55%;
    left:-25px;
    border-radius: 20px;
}
.btn-class{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}
.btn-class #new-quote-btn , #tweet-btn{
    border-radius: 30px;
    border: none;
    padding: 5px 20px;
    font-size: 16px;
}

.btn-class #new-quote-btn{
    background-color: #03a9f4;
    color: white;
}
.btn-class #tweet-btn {
    display: flex;
    align-items: center;
    color: #03a9f4;
    background-color: white;
    border: 1px solid #03a9f4;
    gap: 5px;
}
.btn-class #tweet-btn img{
    height: 30px;
}
