*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Courier New';
}

.container{
    background-image: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.2)) , url(/images/kitchen.jpg);
    background-position: center;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

/* navbar */
.container nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}
.container nav h1{
    color: white;
    font-size: 3rem;
}
.container nav ul{
    list-style: none;
    display: flex;
}
.container nav ul li a{
    color: white;
    font-size: 20px;
    margin: 0px 20px;
    position: relative;
}
.container nav ul li .active{
    color: teal;
}
.container nav ul li .active::after{
    content: "";
    background-color: teal;
    height: 2px;
    width: 80%;
    left: 0px;
    bottom: -5px;   
}

.container nav ul li a::after{
    content: "";
    background-color: teal;
    height: 2px;
    width: 0%;
    left: 0px;
    bottom: -5px;
    position: absolute;
    transition: 0.3s;
}
.container nav ul li a:hover::after{
   width: 80%;
}

/* main section */
.container .hero{
    margin-top: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero h2{
    color: white;
    font-size: 2.5rem;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.hero p{
    margin: 10px 20vw;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: white;
}

.hero .btns{
    display: flexbox;
    margin: 10px 20px;
}
.hero .btns #explore,#visit{
    padding: 10px 15px;
    border-radius: 30px;
    font-size: 16px;
    background-color: transparent;
    color: white;
    border: 2px solid teal;
}
.btns #explore:hover, #visit:hover{
    background-color: teal; 
    cursor: pointer;
}

